# When adding additional environment variables, the schema in "/src/env.mjs"
# should be updated accordingly.

# Drizzle
# Get the Database URL from the "prisma" dropdown selector in PlanetScale.
# Change the query params at the end of the URL to "?ssl={"rejectUnauthorized":true}"
DATABASE_URL='postgresql://YOUR_POSTGRESQL_URL_HERE?ssl={"rejectUnauthorized":true}'

# Next Auth
# You can generate a new secret on the command line with:
# openssl rand -base64 32
# https://next-auth.js.org/configuration/options#secret
NEXTAUTH_SECRET=""
NEXTAUTH_URL="http://localhost:3000"

# Resend
# https://resend.com/docs/introduction
RESEND_API_KEY="YOUR_RESEND_API_KEY_HERE"
RESEND_EMAIL="YOUR_RESEND_EMAIL_HERE"

# IGDB
TWITCH_CLIENT_ID="YOUR_TWITCH_CLIENT_ID_HERE"
TWITCH_SECRET_ID="YOUR_TWITCH_SECRET_ID_HERE"

# Uploadthing
UPLOADTHING_SECRET="YOUR_UPLOADTHING_SECRET_HERE"
UPLOADTHING_APP_ID="YOUR_UPLOADTHING_APP_ID_HERE"
