:root {
  --yellow-100: 255 246 229;
  --yellow-200: 255 229 178;
  --yellow-300: 255 213 128;
  --yellow-400: 242 161 0;
  --yellow-500: 191 118 0;
  --yellow-600: 153 102 31;
  --yellow-700: 89 65 31;

  --orange-100: 255 242 235;
  --orange-200: 255 223 204;
  --orange-300: 255 177 133;
  --orange-400: 255 110 26;
  --orange-500: 204 88 21;
  --orange-600: 153 75 31;
  --orange-700: 77 45 27;

  --red-100: 255 235 235;
  --red-200: 255 204 204;
  --red-300: 255 140 140;
  --red-400: 255 26 26;
  --red-500: 204 21 21;
  --red-600: 153 31 31;
  --red-700: 77 27 27;

  --pink-100: 255 235 243;
  --pink-200: 255 204 225;
  --pink-300: 255 133 184;
  --pink-400: 255 39 129;
  --pink-500: 204 31 103;
  --pink-600: 153 31 82;
  --pink-700: 76 27 47;

  --green-100: 223 242 223;
  --green-200: 170 242 170;
  --green-300: 117 224 117;
  --green-400: 0 191 0;
  --green-500: 0 153 0;
  --green-600: 46 115 46;
  --green-700: 25 51 25;

  --blue-100: 235 242 255;
  --blue-200: 204 221 255;
  --blue-300: 133 173 255;
  --blue-400: 36 105 242;
  --blue-500: 29 83 191;
  --blue-600: 31 71 153;
  --blue-700: 31 46 76;

  --purple-100: 249 235 255;
  --purple-200: 239 204 255;
  --purple-300: 218 140 255;
  --purple-400: 174 36 242;
  --purple-500: 139 38 194;
  --purple-600: 113 44 148;
  --purple-700: 61 30 76;

  --gray-100: 242 242 242;
  --gray-200: 217 217 217;
  --gray-300: 186 186 186;
  --gray-400: 140 140 140;
  --gray-500: 102 102 102;
  --gray-600: 77 77 77;
  --gray-700: 51 51 51;

  --white: 255 255 255;
  --black: 18 18 18;
}
