@tailwind base;
@tailwind components;
@tailwind utilities;

@import "colors.css";

@layer base {
  :root {
    --background: var(--white);
    --foreground: var(--black);

    --card: var(--white);
    --card-foreground: var(--black);

    --popover: var(--white);
    --popover-foreground: var(--black);

    --primary: var(--yellow-400);
    --primary-foreground: var(--white);

    --secondary: var(--yellow-200);
    --secondary-foreground: var(--black);

    --muted: var(--gray-700);
    --muted-foreground: var(--gray-500);

    --accent: var(--yellow-200);
    --accent-foreground: var(--yellow-400);

    --destructive: var(--pink-400);
    --destructive-foreground: var(--purple-400);

    --border: var(--pink-400);
    --input: var(--black);
    --ring: var(--purple-400);

    --heading: var(--yellow-200);

    --radius: 0.5rem;
  }

  .dark {
    --background: var(--black);
    --foreground: var(--white);

    --card: var(--black);
    --card-foreground: var(--white);

    --popover: var(--black);
    --popover-foreground: var(--white);

    --primary: var(--yellow-300);
    --primary-foreground: var(--black);

    --secondary: var(--yellow-700);
    --secondary-foreground: var(--yellow-400);

    --muted: var(--gray-300);
    --muted-foreground: var(--purple-400);

    --accent: var(--yellow-700);
    --accent-foreground: var(--yellow-400);

    --destructive: var(--pink-400);
    --destructive-foreground: var(--purple-400);

    --border: var(--pink-400);
    --input: var(--white);
    --ring: var(--purple-400);

    --heading: var(--yellow-700);
  }
}

@layer base {
  @font-face {
    font-family: Atkinson Hyperlegible;
    font-style: normal;
    font-weight: 400;
    src: url(../../public/fonts/Atkinson-Hyperlegible-Regular-102a.woff2) format(woff2);
  }

  @font-face {
    font-family: Atkinson Hyperlegible;
    font-style: italic;
    font-weight: 400;
    src: url(../../public/fonts/Atkinson-Hyperlegible-Italic-102a.woff2) format(woff2);
  }

  @font-face {
    font-family: Atkinson Hyperlegible;
    font-style: normal;
    font-weight: 700;
    src: url(../../public/fonts/Atkinson-Hyperlegible-Bold-102a.woff2) format(woff2);
  }

  @font-face {
    font-family: Atkinson Hyperlegible;
    font-style: italic;
    font-weight: 700;
    src: url(../../public/fonts/Atkinson-Hyperlegible-BoldItalic-102a.woff2) format(woff2);
  }

  @font-face {
    font-family: Apfel Grotezk;
    font-style: normal;
    font-weight: 400;
    src: url(../../public/fonts/ApfelGrotezk-Regular.woff2) format(woff2);
  }

  @font-face {
    font-family: Apfel Grotezk;
    font-style: normal;
    font-weight: 700;
    src: url(../../public/fonts/ApfelGrotezk-Fett.woff2) format(woff2);
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}

@layer components {
  .full-height {
    min-height: calc(100vh - 11.25rem);
  }

  @media only screen and (max-width: 768px) {
    .full-height {
      min-height: calc(100vh - 4.5rem);
    }
  }
}