@tailwind base;
@tailwind components;
@tailwind utilities;

@import "fonts.css";

@layer base {
  html,
  body,
  #__next {
    height: 100%;
    width: 100%;
  }
}

@layer components {
  .full-height-sheet {
    height: calc(100% - 2.25rem);
  }

  .h-full-sheet {
    height: calc(100% - 2.25rem);
  }
}
