@tailwind base;
@tailwind components;
@tailwind utilities;

@import "fonts.css";
@import "colors.css";
@import "theme.css";

@layer base {
  html {
    min-height: -webkit-fill-available;
  }

  /* body {
    @apply bg-background text-foreground;
  } */
}

@layer components {
  .full-height-sheet {
    height: calc(100% - 2.25rem);
  }

  .h-full-sheet {
    height: calc(100% - 2.25rem);
  }
}
