@tailwind base;

@layer base {
  :root {
    --background: var(--white);
    --foreground: var(--black);

    --card: var(--white);
    --card-foreground: var(--black);

    --popover: var(--white);
    --popover-foreground: var(--black);

    --primary: var(--yellow-400);
    --primary-foreground: var(--white);

    --secondary: var(--yellow-200);
    --secondary-foreground: var(--black);

    --muted: var(--gray-700);
    --muted-foreground: var(--gray-500);

    --accent: var(--yellow-200);
    --accent-foreground: var(--yellow-400);

    --destructive: var(--red-400);
    --destructive-foreground: var(--purple-400);

    --border: var(--gray-300);
    --input: var(--black);
    --label: var(--gray-600);
    --ring: var(--purple-400);

    --heading: var(--yellow-200);

    --radius: 0.5rem;
  }

  .dark {
    --background: var(--black);
    --foreground: var(--white);

    --card: var(--black);
    --card-foreground: var(--white);

    --popover: var(--black);
    --popover-foreground: var(--white);

    --primary: var(--yellow-300);
    --primary-foreground: var(--black);

    --secondary: var(--yellow-700);
    --secondary-foreground: var(--white);

    --muted: var(--gray-300);
    --muted-foreground: var(--gray-300);

    --accent: var(--yellow-700);
    --accent-foreground: var(--yellow-400);

    --destructive: var(--red-400);
    --destructive-foreground: var(--purple-400);

    --border: var(--gray-500);
    --input: var(--white);
    --label: var(--gray-200);
    --ring: var(--purple-400);

    --heading: var(--yellow-700);
  }
}
